@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1450px)
	/**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.container
		padding-left: 6px
		padding-right: 6px
		.row
			margin-left: -6px
			margin-right: -6px
			>div[class^="col"]
				padding-left: 6px
				padding-right: 6px
	/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/



/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	.az-col1-left
		text-align: right
	/**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/*header-top*/
	.az-header-top
		height: 40px

	.az-menu
		position: relative
		height: 40px
		ul
			display: block
			position: static
			top: 100%
			width: auto
			padding: 0 0
			border-top: 0
			font-size: 0
			li
				display: inline-block
				a
					font-size: 17px
					line-height: 40px
					width: 100%
					padding: 0px 15px 0 0
	/*header-top*/
	.az-header-bottom
		border: 0

	.az-dashed
		padding: 20px 0
		border-bottom: 1px dashed #bababa

	/**/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/*select*/
	.az-select
		font-size: 16px
		select
			font-size: 16px
	/*select*/
	/**/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/*header-top*/
	.az-menu
		ul
			li
				a
					font-size: 18px
					line-height: 40px
					width: 100%
					padding: 0px 50px 0 0

	.az-sign-up
		a
			font-size: 12px
			margin-left: 50px
	/*header-top*/
	/**/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1865px)
	/**/

