@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	.ah-footer-span
		margin-bottom: 0px
	.ah-footer-imgbox1
		float: right
		a
			img
				margin: none
	.ah-footer-list
		margin-bottom: 7px
		li
			margin-right: 13px
	.ah-news
		padding: 20px 0px 20px 0px
	.ah-podpis-title
		font-size: 28px
		line-height: 32px
		margin-bottom: 20px
	.ah-popular-title
		font-size: 36px
		line-height: 37px
	.ah-123box-title
		font-size: 36px
		line-height: 15px
	.ah-123box-text
		font-size: 14px
		line-height: 16px
	.ah-123table
		padding-left: 20px
	/**/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.ah-footer-list
		li
			margin-right: 28px
	.ah-news
		padding: 70px 0px 60px 0px
	.ah-podpis-title
		font-size: 30px
		line-height: 32px
		margin-bottom: 20px
	.ah-podpis
		height: 238px
		background: url(../img/ah-signature.jpg) top center no-repeat
		background-size: cover
		padding-top: 37px
	.ah-podpis-imgbox
		position: absolute
		top: -58%
		left: -6%
		width: 349px
		height: 308px
		background: url(../img/ah-searchmap.png) top center no-repeat
		background-size: cover
	.ah-123box-text
		font-size: 16px
		line-height: 20px
	/**/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/