@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	.ah-podpis-title
		text-align: center
		br
			display: inline
	/**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	.ah-onevillage-imgbox
		width: 230px
		height: 230px
		line-height: 228px
	.ah-onevillage-firstlist
		text-align: center
		margin-top: 35px
		margin-bottom: 25px
		li
			display: inline-block
			margin-right: 45px
	.ah-onefirstlist-span
		width: 40px
		height: 20px
	.ah-onefirstlist-span1
		font-size: 18px
		line-height: 40px
		margin-left: 18px
	.ah-footer-span
		margin-bottom: 0px
	.ah-footer-imgbox1
		float: right
		a
			img
				margin: none
	.ah-footer-list
		margin-bottom: 7px
		li
			margin-right: 13px
	.ah-news
		padding: 20px 0px 20px 0px
	.ah-podpis-title
		font-size: 28px
		line-height: 32px
		margin-bottom: 20px
		text-align: left
	.ah-popular-title
		font-size: 30px
		line-height: 37px
	.ah-123box-title
		font-size: 30px//36px
		line-height: 15px
	.ah-123box-text
		font-size: 14px
		line-height: 16px
	.ah-123table
		padding-left: 20px
	.ah-block123
		background: #f1f2f7
		margin-top: 1px
		margin-bottom: 1px
		div[class^="col"]
			padding: 0
	.ah-popular-title
		text-align: left
	.ah-map-title
		text-align: center
	.ah-popular
		border-top: 1px dashed #bababa
		margin-top: 1px
	.ah-podpis
		margin-top: 1px
		margin-bottom: 1px
	#ah-map
		border-bottom: 1px dashed #bababa
		padding-bottom: 26px
	// .ah-mapbox
	// 	border-bottom: 1px dashed #bababa
	// 	padding-bottom: 26px
	.ah-news
		border-top: 1px dashed #bababa
		border-bottom: 1px dashed #bababa
	.ah-footer
		margin-top: 1px
	.ah-mapbox
		padding-top: 0
	.ah-123box-left
		width: 38%
	/**/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.ah-onevillage-imgbox
		width: 278px
		height: 278px
		line-height: 276px
	.ah-footer-list
		li
			margin-right: 28px
	.ah-news
		padding: 70px 0px 60px 0px
	.ah-podpis-title
		font-size: 30px
		line-height: 32px
		margin-bottom: 20px
	.ah-podpis
		height: 238px
		background: url(../img/ah-signature1.jpg) top center no-repeat
		background-size: cover
		padding-top: 37px
	.ah-podpis-imgbox
		position: absolute
		top: -58%
		left: 0%
		width: 349px
		height: 308px
		// background: url(../img/ah-searchmap.png) top center no-repeat
		// background-size: cover
	.ah-123box-text
		font-size: 16px
		line-height: 20px
	.ah-popular-title
		font-size: 36px
	.ah-123box-title
		font-size: 36px
		margin-bottom: 25px
	.ah-popular
		padding: 35px 0px 10px 0px
	.ah-map
		padding-top: 30px
	.ah-mapbox
		padding-top: 15px
	.ah-news-linkbox
		text-align: right
	.ah-news-link
		// color: #00B100
		// background: url(../img/news-green.svg) left center no-repeat//url(../img/ah-newsbutt-green.png) left center no-repeat
		&:hover
			// color: #00B100
	.ah-news
		padding-bottom: 15px
	/**/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	.ah-123box-left
		width: 25%
	/**/