@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"
@import "style"




.ah-popular-box
	padding: 14px 0px
	border-bottom: 2px solid #60b000
.ah-popular
	padding: 45px 0px 10px 0px
.ah-popular-price
	display: block
	font-family: "RobotoCondensedBold"
	color: #3b413c
	font-size: 26px
	line-height: 20px
	margin-top: 10px
.ah-popular-text
	display: block
	font-family: "RobotoCondensedBold"
	line-height: 20px
	color: #3b413c
	font-size: 14px
.ah-popular-title
	display: inline-block
	font-family: "RobotoCondensedBold"
	color: #3b413c
	font-size: 24px
	line-height: 15px
	margin-bottom: 10px
.ah-popularwrapp
	margin: 10px 0px
.ah-popular-subtitle
	display: block
	font-family: "RobotoCondensedBold"
	color: #60b000
	font-size: 22px
	line-height: 20px
	margin-bottom: 5px
.ah-123table
	padding-left: 0px
.no-padd
	padding-left: 0px !important
	padding-right: 0px !important
.ah-123box-text
	display: inline-block
	font-family: "ArimoRegular"
	color: #3e443f
	font-size: 16px
	line-height: 20px
.ah-123box-subtitle
	display: inline-block
	color: #60b000
	font-family: "RobotoCondensedBold"
	font-size: 22px
	line-height: 25px
	text-transform: uppercase
.ah-block123
	background: #f1f2f7
	padding: 34px 0px 45px 0px
.ah-123box-title
	display: block
	font-family: "RobotoCondensedBold"
	color: #3b413c
	font-size: 24px
	line-height: 15px
	text-align: center
	margin-bottom: 15px
.ah-123box-table
	display: table
	width: 100%
	margin: 15px 0px
.ah-123box-left, .ah-123box-right
	display: table-cell
	vertical-align: top
.ah-123box-left
	width: 25%
	img
		margin: 0 auto
.ah-123box-right
	width: 75%
	padding-left: 5px
.ah-divbord
	position: relative
	display: inline-block
	width: 100%
	height: 2px
	background: #e1e1e1
.ah-divbord1
	position: absolute
	display: inline-block
	width: 26%
	height: 100%
	background: #60b000
	top: 0
	left: 0








@import "media"  /* Всегда в конце */
@import "media2"  /* Всегда в конце */